<ion-header>
  <ion-toolbar>
    <ion-title>{{'modules.dashboard.profile.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="dashboard-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <h2 class="ion-text-center">{{company?.companyName}}</h2>
        <p *appPermission="{component: 'ProfilePage', item: 'msgNotActivated', condition: false}" class="ion-text-center">
          <ion-text color="danger">{{'modules.dashboard.profile.activateWarning' | translate}}</ion-text>
        </p>
        <ion-list>
          <ion-row>
            <ion-col class="ion-no-padding" size="4">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <h4>{{'modules.dashboard.profile.login' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{user.login}}
                    </p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-no-padding" size="4">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <h4>{{'modules.dashboard.profile.email' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{user.email}}
                    </p>
                  </ion-text>
                </ion-label>
                <ion-button (click)="updateEmail()">
                  {{'elements.button.update' | translate}}
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-no-padding" size="4">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <h4>{{'modules.dashboard.profile.role' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{user.role}}
                    </p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-no-padding" size="4">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <h4>{{'modules.dashboard.profile.blocked' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{'common.logic.' + !!user.blocked | translate}}
                    </p>
                  </ion-text>
                </ion-label>

              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-no-padding" size="4">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <h4>{{'modules.dashboard.profile.activated' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{'common.logic.' + !!user.activated | translate}}
                    </p>
                  </ion-text>
                </ion-label>
                <ion-button *ngIf="!user.activated" (click)="activate()">
                  {{'elements.button.activate' | translate}}
                </ion-button>
                <!-- <ion-input color="primary" [placeholder]="user.activated">
                                    </ion-input>
                                    <ion-button slot="end" (click)="add()">
                                      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                                    </ion-button> -->
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *appPermission="{component: 'ProfilePage', item: 'btnRemoveCompany'}">
            <ion-col class="ion-no-padding">
              <ion-item class="ion-no-padding" lines="none">
                <ion-button color="danger" fill="outline" (click)="presentAlert(company.companyName)">{{'elements.button.delete' | translate}} {{'modules.dashboard.profile.company' | translate}}</ion-button>
                <!-- <ion-label>
                  <h4>{{'elements.button.delete' | translate}} {{'modules.dashboard.profile.company' | translate}}</h4>
                </ion-label> -->
              </ion-item>
            </ion-col>
            <!-- <ion-col class="ion-no-padding" size="8">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>
                  <ion-text color="primary">
                    <p>
                      {{user.role}}
                    </p>
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-col> -->
          </ion-row>


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>