<ion-header>
  <ion-toolbar>
    <ion-title>{{'elements.button.add' | translate}} {{'dif.room' | translate | lowercase}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{'elements.button.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addRoomForm" *ngIf="addRoomForm" #addRoomFormDirective="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">{{'elements.button.add' | translate}} {{'dif.room' | translate | lowercase}}</ion-card-title>
              <ion-progress-bar *ngIf="loading$ | async" type="indeterminate" color="primary"></ion-progress-bar>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon class="ion-align-self-center" name="business-outline" slot="start"></ion-icon>
                  <ion-label position="floating">{{'dif.name' | translate}}</ion-label>
                  <ion-input type="text" autocomplete autocorrect formControlName="name"></ion-input>
                </ion-item>
                <ion-text *ngIf="addRoomForm.get('name').touched && addRoomForm.get('name').errors" class="input-error"
                  color="danger">
                  {{addRoomForm.get('name').errors | json}}
                </ion-text>
                <ion-item lines="none">
                  <ion-icon class="ion-align-self-center" name="cash-outline" slot="start"></ion-icon>
                  <ion-label position="floating">{{'dif.price' | translate}}</ion-label>
                  <ion-input autocomplete autocorrect formControlName="price"></ion-input>
                </ion-item>
                <ion-text *ngIf="addRoomForm.get('price').touched && addRoomForm.get('price').errors"
                  class="input-error" color="danger">
                  {{addRoomForm.get('price').errors | json}}
                </ion-text>
              </ion-list>
            </ion-card-content>

          </ion-card>

          <ion-row>
            <ion-col size="8">
              <ion-button (click)="dismiss()" expand="block" fill="outline">Cancel</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="block"
                [disabled]="addRoomForm.status === 'INVALID' || addRoomForm.status === 'PENDING'"
                (click)="this.onSignup()">
                {{'elements.button.add' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>