<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <!-- <ion-back-button [defaultHref]="mode === 'new' ? '/shedule': '/shedule/discover' + booking?._id"> -->
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{'modules.shedule.bookingForm.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookingForm" #bookingFormDirective="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <!-- <ion-card>
            <ion-card-header> -->
          <ion-item lines="none">
            <ion-label>
              <h2>{{room?.name}}</h2>
            </ion-label>
          </ion-item>
          <!-- <ion-card-subtitle>
                <ion-text></ion-text>
              </ion-card-subtitle>
            </ion-card-header> -->

          <!-- <ion-card-content> -->
          <ion-item-group>
            <ion-item-divider lines="none">
              <ion-toggle slot="start" color="primary" #summary></ion-toggle>
              <ion-label lines="none">
                <h3>{{'modules.shedule.bookingForm.balance' | translate}}</h3>
              </ion-label>
              <ion-text slot="end" [color]="calculatedData?.balance >= 0 ? 'success': 'danger'">
                {{calculatedData?.balance}}</ion-text>
            </ion-item-divider>
            <ng-container *ngIf="summary.checked">
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.pricePerNight' | translate}}</p>
                </ion-label>
                <ion-text slot="end" color="primary">{{room?.price}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.reservedNights' | translate}}</p>
                </ion-label>
                <ion-text slot="end" color="primary">{{calculatedData?.days}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.bookingStep' | translate}}</p>
                </ion-label>
                <ion-text slot="end" [ngClass]="'status-color_' + calculatedData?.bookingStep">
                  {{'common.bookingSteps.' + calculatedData?.bookingStep | translate}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.bookingPrice' | translate}}</p>
                </ion-label>
                <ion-text slot="end" color="primary">{{calculatedData?.bookingPrice}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.discount' | translate}}</p>
                </ion-label>
                <ion-text slot="end" color="primary">{{bookingForm?.get('discount').value}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <p>{{'modules.shedule.bookingForm.totalPaid' | translate}}</p>
                </ion-label>
                <ion-text slot="end" color="primary">{{calculatedData?.totalPaid}}</ion-text>
              </ion-item>
            </ng-container>
          </ion-item-group>

          <ion-list lines="none" class="date-label">
            <ion-item class="date-label__item">
              <ion-label position="stacked" color="primary">
                {{'modules.shedule.bookingForm.from' | translate}}
              </ion-label>
              <!-- {{bookingForm.get('dates').get('from').value | date: 'dd MMMM yyyy'}} -->
              <ion-datetime *ngIf="updated" pickerFormat="DD-MMMM-YYYY"
                [value]="bookingForm.get('dates').get('from').value" monthNames="{{monthNames}}"
                displayFormat="DD MMMM YYYY" placeholder="Select end date" disabled>
              </ion-datetime>
            </ion-item>
            <ion-item class="date-label__item">
              <ion-label position="stacked" color="primary">
                {{'modules.shedule.bookingForm.availableTo' | translate}}
              </ion-label>
              <!-- {{availableTo? (availableTo | date: 'dd MMMM yyyy') : 'No limits' }} -->
              <ion-datetime *ngIf="updated" pickerFormat="DD-MMMM-YYYY"
                [value]="availableTo? (availableTo | date: 'dd MMMM yyyy') : 'No limits'" monthNames="{{monthNames}}"
                displayFormat="DD MMMM YYYY" disabled>
              </ion-datetime>

            </ion-item>
          </ion-list>

          <ion-list lines="none" class="date-label">

            <ion-item class="date-label__item" formGroupName="dates">
              <ion-label position="stacked" color="primary">
                {{'modules.shedule.bookingForm.to' | translate}}
              </ion-label>
              <ion-datetime *ngIf="updated" pickerFormat="DD-MMMM-YYYY" [min]="fromPlusOneDay" [max]="availableTo"
                monthNames="{{monthNames}}" displayFormat="DD MMMM YYYY" placeholder="Select end date"
                formControlName="to"></ion-datetime>
              <ion-text *ngIf="bookingForm.get('dates').get('to').errors" class="input-error" color="danger">
                {{bookingForm.get('dates').get('to').errors | json}}
              </ion-text>
            </ion-item>

            <ion-item *ngIf="!user?.blocked" class="date-label__item">
              <ion-label>
                <ion-button fill="outline" color="danger" (click)="presentAlert()">
                  {{'modules.shedule.bookingForm.cancelReservation' | translate}}
                </ion-button>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label position="floating" color="primary">
                {{'modules.shedule.bookingForm.guestName' | translate}}
              </ion-label>

              <ion-input type="text" autocomplete autocorrect formControlName="guestName"></ion-input>
            </ion-item>
            <ion-text *ngIf="bookingForm.get('guestName').errors" class="input-error" color="danger">
              {{bookingForm.get('guestName').errors | json}}
            </ion-text>

            <ion-item>
              <ion-label position="floating" color="primary">
                {{'modules.shedule.bookingForm.guestPhone' | translate}}
              </ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="guestPhone"></ion-input>
            </ion-item>
            <ion-text *ngIf="bookingForm.get('guestPhone').errors" class="input-error" color="danger">
              {{bookingForm.get('guestPhone').errors | json}}
            </ion-text>

            <ion-item>
              <ion-label position="floating" color="primary">
                {{'modules.shedule.bookingForm.guestEmail' | translate}}
              </ion-label>
              <ion-input type="email" autocomplete autocorrect formControlName="guestEmail"></ion-input>
            </ion-item>
            <ion-text *ngIf="bookingForm.get('guestEmail').errors" class="input-error" color="danger">
              {{bookingForm.get('guestEmail').errors | json}}
            </ion-text>

            <ion-item>
              <ion-label position="floating" color="primary">
                {{'modules.shedule.bookingForm.discount' | translate}}
              </ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="discount"></ion-input>
            </ion-item>
            <ion-text *ngIf="bookingForm.get('discount').errors" class="input-error" color="danger">
              {{bookingForm.get('discount').errors | json}}
            </ion-text>
          </ion-list>

          <ion-list lines="none">
            <ion-list-header>
              <ion-label>{{'modules.shedule.bookingForm.payments' | translate}}</ion-label>
              <ion-button *ngIf="editPayment === null" (click)="addPaymentsArrayControlToBegin(); editPayments(0);">
                {{'elements.button.add' | translate}}</ion-button>
              <ion-button *ngIf="editPayment !== null" [disabled]="bookingForm.get('payments').status === 'INVALID'"
                (click)="editPayments(null)">Ok</ion-button>
            </ion-list-header>
            <ng-container *ngFor="let paymentsControl of bookingForm.get('payments')['controls']; let i= index"
              formArrayName="payments">
              <ng-container [formGroupName]="i">
                <ion-item-sliding *ngIf="editPayment === null || editPayment !== i">
                  <ion-item>
                    <ion-label>
                      <h2>{{'dif.amount' | translate}}: <ion-text color="secondary">
                          {{getPaymentsArrayControlAt(i).get('amount').value}}
                        </ion-text>
                      </h2>
                      <p>{{'dif.date' | translate}} <ion-text color="secondary">
                          {{getPaymentsArrayControlAt(i).get('date').value | date: 'dd MMM' }}</ion-text>
                      </p>
                      <p>{{'common.paymentMethods.title' | translate}} <ion-text color="secondary">
                          {{getPaymentsArrayControlAt(i).get('paymentMethod').value}}</ion-text>
                      </p>
                    </ion-label>
                    <ion-note slot="end">
                      {{'elements.button.slideForOptions' | translate}}
                    </ion-note>
                  </ion-item>

                  <ion-item-options side="start">
                    <ion-item-option (click)="editPayments(i)">
                      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                  <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removeArrayControl('payments', i)">
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>

                <ion-list *ngIf="editPayment === i">

                  <ion-item>
                    <ion-label position="stacked" color="primary">{{'elements.datePicker.chooseDate' | translate}}
                    </ion-label>
                    <ion-datetime *ngIf="updated" pickerFormat="DD-MMMM-YYYY" displayFormat="DD MMMM YYYY"
                      placeholder="Select Month" formControlName="date" monthNames="{{monthNames}}"></ion-datetime>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating" color="primary">{{'dif.amount' | translate}}</ion-label>
                    <ion-input type="text" autocomplete autocorrect formControlName="amount"></ion-input>
                  </ion-item>
                  <ion-text *ngIf="getPaymentsArrayControlAt(i).get('amount').errors" class="input-error"
                    color="danger">
                    {{getPaymentsArrayControlAt(i).get('amount').errors | json}}
                  </ion-text>

                  <ion-item>
                    <ion-label position="stacked" color="primary">{{'common.paymentMethods.title' | translate}}
                    </ion-label>
                    <ion-select placeholder="Select One" interface="popover" formControlName="paymentMethod">
                      <ion-select-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">
                        <span>{{'common.paymentMethods.' + paymentMethod | translate}}</span>
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-text *ngIf="getPaymentsArrayControlAt(i).get('paymentMethod').errors" class="input-error"
                    color="danger">{{getPaymentsArrayControlAt(i).get('paymentMethod').errors | json}}
                  </ion-text>
                </ion-list>
              </ng-container>
            </ng-container>
          </ion-list>
          <ion-row>
            <ion-col size="8">
              <ion-button expand="block" fill="outline" (click)="onFormCancel()">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block"
                [disabled]="bookingForm.status === 'INVALID' || this.isCancelled || user.blocked"
                (click)="onFormSubmit()">
                {{'elements.button.submit' | translate}} {{bookingForm.errors}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>