.status {
  &_preorder {
    color: var(--ion-color-warning);
  }
  &_paid {
    color: var(--ion-color-success);
  }
  &_reserved {
    color: var(--ion-color-primary);
  }
  &_cancelled {
    color: var(--ion-color-warning);
  }
}
