<!-- <ion-split-pane contentId="analytics-content" [disabled]="!paneEnabled"> -->
  <ion-menu menuId="analytics-menu" side="end" contentId="analytics-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>
          <h2>{{'modules.analytics.title' | translate}}</h2>
        </ion-title>
      </ion-toolbar>
      <ion-toolbar color="secondary" class="ion-padding-bottom"></ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false" menu="analytics-menu">
          <ion-item button routerLink="/analytics/summary" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>{{'modules.analytics.summary.title' | translate}}</ion-label>
          </ion-item>
          <!-- </ion-menu-toggle>

      <ion-menu-toggle contentId="analytics-menu"> -->
          <ion-item button routerLink="/analytics/management" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}">
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>{{'modules.analytics.management.title' | translate}}</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="analytics-content"></ion-router-outlet>
<!-- </ion-split-pane> -->