.input-error {
  font-size: 12px;
  padding-left: 16px;
}

.date-label {
  width: 100%;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: var(--padding-bottom);
  &__item {
    flex: 1 1 auto;
  }
}

.active-link {
  border-left: 8px solid var(--ion-color-secondary);
}

.status-color {
  &_preorder {
    color: var(--ion-color-warning);
  }
  &_paid {
    color: var(--ion-color-success);
  }
  &_reserved {
    color: var(--ion-color-primary);
  }
  &_cancelled {
    color: var(--ion-color-danger);
  }
}

.status-background-color {
  &_preorder {
    background-color: var(--ion-color-warning);
  }
  &_paid {
    background-color: var(--ion-color-success);
  }
  &_reserved {
    background-color: var(--ion-color-primary);
  }
  &_cancelled {
    background-color: var(--ion-color-danger);
  }
}

.background-color {
  &_warning {
    background-color: var(--ion-color-warning) !important;
  }
  &_success {
    background-color: var(--ion-color-success) !important;
  }
  &_danger {
    background-color: var(--ion-color-danger) !important;
  }
}

.color {
  &_warning {
    color: var(--ion-color-warning) !important;
  }
  &_success {
    color: var(--ion-color-success) !important;
  }
  &_danger {
    color: var(--ion-color-danger) !important;
  }
}
