<ion-header>
  <ion-toolbar>
    <ion-title>Management</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-menu-button contentId="main-content"></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2">

          <ion-item color="primary" lines="none">
            <ion-label>
              <!-- <form [formGroup]="filterForm" #filterFormDirective="ngForm"> -->
              <ion-row>

                <ion-col>
                  <ion-item>
                    <ion-label>Choose period</ion-label>
                    <ion-datetime pickerFormat="MMMM-YYYY" displayFormat="MMMM YYYY" [max]="maxDate"
                      placeholder="Select Month" [(ngModel)]="date" (ionChange)="filter()"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Sort</ion-label>
                    <ion-select placeholder="Select One" [(ngModel)]="sortField" (ionChange)="filter()">
                      <ion-select-option *ngFor="let sortField of sortFields | keyvalue" [value]="sortField.key">
                        {{sortField.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Sort order</ion-label>
                    <ion-select placeholder="Select One" [(ngModel)]="sortOrder" (ionChange)="filter()">
                      <ion-select-option *ngFor="let sortOrder of sortOrders | keyvalue" [value]="sortOrder.key">
                        {{sortOrder.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Room</ion-label>
                    <ion-select placeholder="Select One" [(ngModel)]="room" (ionChange)="filter()">
                      <ion-select-option *ngFor="let room of rooms" [value]="room">{{room.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Booking Step</ion-label>
                    <ion-select placeholder="Select One" [(ngModel)]="bookingStep" (ionChange)="filter()">
                      <ion-select-option *ngFor="let bookingStep of bookingSteps | keyvalue" [value]="bookingStep.key">
                        {{bookingStep.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Booking Step Equals</ion-label>
                    <ion-select placeholder="Select One" [(ngModel)]="bookingStepExpr" [disabled]="!bookingStep"
                      (ionChange)="filter()">
                      <ion-select-option *ngFor="let bookingStepExpr of bookingStepExprs | keyvalue"
                        [value]="bookingStepExpr.key">{{bookingStepExpr.value}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>



              </ion-row>


              <!-- </form> -->
            </ion-label>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">



        <ion-list>
          <ion-list-header class="ion-no-padding">
            <ion-label>
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          Step
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          Date form
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          Date to
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          <ion-text color="tertiary">
                            Price
                          </ion-text>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-label>
          </ion-list-header>
          <ng-container *ngFor="let booking of bookings">
            <ion-item-sliding>
              <ion-item lines="none">
                <ion-label>
                  <ion-row>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          <ion-button [ngClass]="'status-color_' + booking.bookingStep"
                            (click)="viewBooking(booking._id)" fill="clear">{{booking.bookingStep}}</ion-button>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          {{booking.dates.from | date: 'dd MMM'}}
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          {{booking.dates.to | date: 'dd MMM'}}
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding" size="3">
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-label class="ion-text-center">
                          <ion-text color="tertiary">
                            {{booking.price}}
                          </ion-text>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-label>
                <!-- <ion-note slot="end">
                  slide
                </ion-note> -->
              </ion-item>
              <!-- <ion-item-options side="start">
                <ion-item-option (click)="update(operator._id)">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options> -->
              <ion-item-options *ngIf="!user?.blocked" side="end">
                <ion-item-option color="danger" (click)="presentAlert(booking._id)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
              <ion-item-options *ngIf="booking.bookingStep !== 'cancelled' && !user?.blocked" side="start">
                <ion-item-option color="primary" (click)="update(booking._id)">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>

            </ion-item-sliding>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>