<ion-tabs>
  <ion-tab-bar *ngIf="user" slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-label>{{'modules.schedule.title' | translate}}</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="analytics">
      <ion-label>{{'modules.analytics.title' | translate}}</ion-label>
      <ion-icon name="analytics-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-label>{{'modules.dashboard.title' | translate}}</ion-label>
      <ion-icon name="file-tray-full-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
<!-- {{'language' | translate}} -->
</ion-tabs>