<ion-header>
  <ion-toolbar>
    <ion-title>Add company user</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addOperatorForm" *ngIf="addOperatorForm" #addOperatorFormDirective="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="10" offset-md="1">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Add company user</ion-card-title>
              <ion-progress-bar *ngIf="loading$ | async" type="indeterminate" color="primary"></ion-progress-bar>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon class="ion-align-self-center" name="person-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Login</ion-label>
                  <ion-input type="text" autocomplete autocorrect formControlName="login"></ion-input>
                </ion-item>
                <ng-container *ngIf="addOperatorForm.get('login').dirty && addOperatorForm.get('login').errors">
                  <ion-text *ngFor="let error of addOperatorForm.get('login').errors | errorExtractor"
                    class="input-error" color="danger">
                    {{'errors.' + error | translate}}
                  </ion-text>
                </ng-container>
                <ion-item>
                  <ion-icon class="ion-align-self-center" name="mail-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" autocomplete autocorrect formControlName="email"></ion-input>
                </ion-item>
                <ng-container *ngIf="addOperatorForm.get('email').dirty && addOperatorForm.get('email').errors">
                  <ion-text *ngFor="let error of addOperatorForm.get('email').errors | errorExtractor"
                    class="input-error" color="danger">
                    {{'errors.' + error | translate}}
                  </ion-text>
                </ng-container>

                <ion-item lines="none">
                  <ion-icon class="ion-align-self-center" name="lock-closed-outline" slot="start"></ion-icon>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input [type]="inputType" autocomplete autocorrect formControlName="password"></ion-input>
                  <ion-icon class="ion-align-self-center"
                    [name]="inputType === 'password' ? 'eye-outline' : 'eye-off-outline'" slot="end"
                    (click)=switchInputType()></ion-icon>
                </ion-item>
                <ng-container *ngIf="addOperatorForm.get('password').dirty && addOperatorForm.get('password').errors">
                  <ion-text *ngFor="let error of addOperatorForm.get('password').errors | errorExtractor"
                    class="input-error" color="danger">
                    {{'errors.' + error | translate}}
                  </ion-text>
                </ng-container>

                <ion-item lines="none">
                  <ion-icon class="ion-align-self-center" name="reorder-two-outline" slot="start"></ion-icon>

                  <ion-label position="floating">Password Confirm</ion-label>
                  <ion-input [type]="inputType" autocomplete autocorrect formControlName="passwordConfirm"></ion-input>
                  <ion-icon *ngIf="addOperatorForm.get('passwordConfirm').status === 'VALID'"
                    class="ion-align-self-center" [name]="'checkmark-done-outline'" color="primary" slot="end">
                  </ion-icon>
                </ion-item>
                <ng-container
                  *ngIf="addOperatorForm.get('passwordConfirm').dirty && addOperatorForm.get('passwordConfirm').errors">
                  <ion-text *ngFor="let error of addOperatorForm.get('passwordConfirm').errors | errorExtractor"
                    class="input-error" color="danger">
                    {{'errors.' + error | translate}}
                  </ion-text>
                </ng-container>

              </ion-list>
            </ion-card-content>

          </ion-card>

          <ion-row>
            <ion-col size="8">
              <ion-button (click)="dismiss()" expand="block" fill="outline">Cancel</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="block"
                [disabled]="addOperatorForm.status === 'INVALID' || addOperatorForm.status === 'PENDING'"
                (click)="formSubmitSubject$.next()">
                Add
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>