<div class="shedule-item">
  <ion-button *ngIf="!bookings || !bookings.length" class="shedule-item__info ion-no-margin" (click)="bookingInfo()"
    fill="none" routerDirection="forward">
    <ion-icon slot="icon-only" size="small" name="add-circle-outline" color="success"></ion-icon>
  </ion-button>
  <div *ngFor="let booking of bookings" class="shedule-item__info"
    [ngClass]="['status-background-color_' + booking.bookingStep, 'shedule-item__info_' + booking.info, 'shedule-item__info_' + booking.bookingStep]"
    (click)="bookingInfo(booking)"></div>

  <ion-button *ngIf="bookings?.length === 1 && bookings[0].info === 'end'" class="shedule-item__info ion-no-margin"
    (click)="bookingInfo()" fill="none" size="small" routerDirection="forward">
    <ion-icon slot="icon-only" size="small" name="add-circle-outline" color="success"></ion-icon>
  </ion-button>
</div>